<div>
  <p>ユーザID：<%= @user.id %>の詳細ページ</p>
</div>
<div>
  <p>ユーザ名：<%= @user.name %></p>
</div>
<div class ="text-center">
  <p><%= link_to 'ユーザ一覧へ戻る', users_path %></p>
</div>

<div class="text-center">
  <h1>このユーザが応対している案件一覧</h1>
</div>
<div class="text-center">
  <h2>検索フォーム</h2>
</div>
<div class="text-center">
  <%= form_tag user_path, :method => 'get' do |f| %>
  
    <div class="text-center">
      <%= label :status, '状態' %>
      <%= text_field_tag :status, params[:status] %>
    </div>
    
    <div class="text-center">
      <%= label :out_date, '出庫日' %>
      <%= text_field_tag :out_date, params[:out_date] %>
      <%= label :in_date, '返却日' %>
      <%= text_field_tag :in_date, params[:in_date] %>
    </div>

    <div><%= submit_tag '検索', :name => nil %></div>
  <% end %>
</div>

<%= render 'orders/orders', orders: @orders %>
