<ul class="media-list">

  <% rental_machines.each do |rental_machine| %>
  
    <li class="media">
      <div>
        <p>機材名：<%= rental_machine.machine.name %>/<%= rental_machine.machine.type1 %>/<%= rental_machine.machine.type2 %></p>
      </div>
      <div>
        <p>機番：<%= rental_machine.code %></p>
      </div>
      <div>
        <p>在庫状況：
          <% if rental_machine.orders.present? %>
            <%= rental_machine.orders.last.status %>
          <% else %>
            <%= 'この機材には、出庫履歴がありません。' %>
          <% end %>
        </p>
      </div>
      <div>
        <p>所有営業所名：<%= rental_machine.branch.company.name %><%= rental_machine.branch.name %></p>
      </div>
      <div>
        <p>保管場所：<%= rental_machine.storage.company.name%><%= rental_machine.storage.name %></p>
      </div>
      <div>
        <p>状態：<%= rental_machine.status %></p>
      </div>
      <div>
        <p>備考欄：<%= rental_machine.remarks %></p>
      </div>
      <div>
        <%= link_to '詳細', rental_machine_path(rental_machine), class: 'btn btn-primary' %>
        <%= link_to '貸し出す', new_order_path(rental_machine_id: rental_machine.id), class: 'btn btn-success' %>
      </div>
    </li>
  <% end %>
  <%= paginate rental_machines %>
</ul>