<h1>機材ID：<%= @rental_machine.id %>の詳細ページ</h1>
<div>
  <p>機材名：<%= @rental_machine.machine.name %></p>
</div>
<div>
  <p>型式1：<%= @rental_machine.machine.type1 %></p>
</div>
<div>
  <p>型式2：<%= @rental_machine.machine.type2 %></p>
</div>
<div>
  <p>機番：<%= @rental_machine.code %></p>
</div>
<div>
  <p>所有企業名：<%= @rental_machine.branch.company.name %></p>
</div>
<div>
  <p>所有営業所名：<%= @rental_machine.branch.name %></p>
</div>
<div>
  <p>所有営業所住所：<%= @rental_machine.branch.address %></p>
</div>
<div>
  <p>状態：<%= @rental_machine.status %></p>
</div>
<div>
  <p>備考欄：<%= @rental_machine.remarks %></p>
</div>
<div>
  <%= link_to '編集', edit_rental_machine_path(@rental_machine), class: 'btn btn-warning' %>
</div>
<div>
  <%= link_to '貸し出す', new_order_path(rental_machine_id: @rental_machine), class: 'btn btn-success' %>
</div>
<div class ="text-center">
  <p><%= link_to '機材一覧へ戻る', rental_machines_path %></p>
</div>
<div class="text-center">
  <h1>この機材の案件一覧</h1>
</div>
<div class="text-center">
  <h2>検索フォーム</h2>
</div>
<div class="text-center">
  <%= form_tag rental_machine_path, :method => 'get' do |f| %>
  
    <div class="text-center">
      <%= label :status, '状態' %>
      <%= text_field_tag :status, params[:status] %>
    </div>
    
    <div class="text-center">
      <%= label :out_date, '出庫日' %>
      <%= text_field_tag :out_date, params[:out_date] %>
      <%= label :in_date, '返却日' %>
      <%= text_field_tag :in_date, params[:in_date] %>
    </div>
    
    <div><%= submit_tag '検索', :name => nil %></div>
  <% end %>
</div>

<div class="col-xs-6">
  <ul class="nav nav-tabs nav-justified">
    <li class="<%= 'active' if current_page?(rental_machine_path(@rental_machine)) %>"><%= link_to rental_machine_path(@rental_machine) do %>全ての案件<% end %></li>
    <li class="<%= 'active' if current_page?(reservations_rental_machines_path(@rental_machine)) %>"><%= link_to reservations_rental_machines_path(@rental_machine) do %>予約中の案件<% end %></li>
    <li class="<%= 'active' if current_page?(uses_rental_machines_path(@rental_machine)) %>"><%= link_to uses_rental_machines_path(@rental_machine) do %>出庫中の案件<% end %></li>
    <li class="<%= 'active' if current_page?(cominghomes_rental_machines_path(@rental_machine)) %>"><%= link_to cominghomes_rental_machines_path(@rental_machine) do %>返却済みの案件<% end %></li>
  </ul>

<%= render 'orders/orders', orders: @cominghomes %>
